<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{{title}}</title>
 </head>
 <body>
 <table border="1">
  <tr>
   <th>Обществознание</th>
   </tr>
  <tr>
   <th>Имя</th>
   <th>Фамилия</th>
   <th>Логтн</th>
   <th>Пароль</th>
   <th>Балл</th>
   </tr>
      {% for student in students %}
   <tr>
       <th>{{student.name}}</th>
       <th>{{student.surname}}</th>
       <th>{{student.login}}</th>
       <th>{{student.password}}</th>
       <th>{{student.ball}}</th>
   </tr>
      {% endfor %}
 </table>



</html>
